@model AdminLeaveRequestVM

@{
    ViewData["Title"] = "Leave Requests";
}
<div class="row">
    <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title text-primary">@Model.TotalLeaveRequests</h2>
            <p class="card-text">Total leave requests</p>
          </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title text-success">@Model.ApprovedLeaveRequests</h2>
            <p class="card-text">Approved leave requests</p>
          </div>
        </div>
    </div>
    <div class="col-3">
         <div class="card">
              <div class="card-body text-center">
                <h2 class="card-title text-warning">@Model.PendingLeaveRequests</h2>
                <p class="card-text">Pending leave requests</p>
              </div>
        </div>
    </div>
    <div class="col-3">
         <div class="card">
          <div class="card-body text-center">
            <h2 class="card-title text-danger">@Model.RejectedLeaveRequests</h2>
            <p class="card-text">Rejected leave requests</p>
          </div>
        </div>
    </div>
</div>
<hr/>
<h3>Leave Requests</h3>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Employee Name")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                 @if (item.Cancelled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }
                    else if (item.Approved == null)
                    {
                         <span class="badge bg-primary">Pending</span>
                    }
                    else if (item.Approved.Value)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
            </td>
            <td>
                    @if (!item.Cancelled)
                    {
                        <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item?.Id">Review</a>
                    }                
            </td>
        </tr>
}
    </tbody>
</table>
